* {
    margin: 10;
    padding: 0;
    
}

body {
    background-image:url(/images/bg.jpg);
}
/* Nav bar */

.container {
    width: 100%;
    min-height: 20vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 45px;
    cursor: pointer;
    margin-top: 12.5px;   
}

.menu-icon {
    width: 25px;
    cursor: pointer;
    display: none;
    margin-top: 12px;
}

nav {
    flex: 2;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 17px;
}

nav ul li a:hover {
    color: white;
}

@media only screen and (max-width: 1112px) {
    nav ul {
        width: 100%;
        height: 100%;
        background: black;
        position: absolute;
        top: 85px;
        right: 0;
        z-index: 2;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: white;
    }

    .menu-icon {
        display: block;
    }

    #menulist {
        overflow: hidden;
        transition: 0.5s;
    }
}

big {
    font-size: 250%;
    color: black;
}

small { 
    font-size: 120%;
    color:black;
}

main big {
    font-size: 250%;
    color: black;
}

table {
    width: 100%;
    height: 120px;
    text-align: center;
    border-color: rgb(2, 5, 172);
}

table, td, th {
    padding: 1rem;
    border-collapse: collapse;
}

main.table {
    width: 100%;
    height: 50%;
    background-color: #fff5;
    
    backdrop-filter: blur(2px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
}

.table_header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
}

.table_body {
    width: 95%;
    max-height: calc(89% - .8rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
}

.table_body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table_body:hover:-webkit-scrollbar-thumb {
    visibility: visible;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr:hover {
    background-color: #5CE8E9;
}

table thead tr th {
    text-align: center;
}

table thead tr .home {
    text-align:justify;
}

table thead tr .aboutme {
    text-align:justify;
}

table thead tr .uploads {
    text-align:justify;
}

table thead tr .aboutme big {
    font-size: 150%;
    color: black;
}

table thead tr .aboutimg {
    width: 100%;
    border-radius: .8rem;
}

.footercontainer {
    max-width: 1170px;
    
    margin: auto;
    margin-top: -50px;
    align-content: center;
}

ul {
    list-style: none;
}
.footer {
    background-color: #24262b;
    border-radius: 10px;
    padding: 70px 0;

}

.footerrow {
    display: flex;
    flex-wrap: wrap;
}

.footercol {
    width: 22%;
    padding: 0 12px;
}

.footercol h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footercol h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color:#5CE8E9;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footercol ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footercol ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: aliceblue;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footercol ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footercol .sociallinks a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color:rgba(255, 255, 255, 0.2);
    margin: 0 20px 10px 0;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    border-radius: 50%;
    transition: all 0.5s ease;
} 

.footercol .sociallinks a:hover {
    color: #24262b;
    background-color: #ffffff;
}

@media only screen and (max-width: 876px) {
    .footercol {
        width: 50%;
        margin-bottom: 30px;
    }
}

button {
    width: 200px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #029991, #0226f1);
    border-radius: 5px;
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: white;
}

button:hover {
    background: #01580d;
}

table thead tr .aboutbtn {
    width: 150px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #029991, #0226f1);
    border-radius: 5px;
    cursor: pointer;
}

table thead tr .aboutbtn a {
    text-decoration: none;
    color: white;
}

table thead tr .aboutbtn:hover {
    background: #01580d;
}

table thead tr .sociallinks a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color:rgba(255, 255, 255, 0.2);
    margin: 0 20px 10px 0;
    text-align: center;
    line-height: 40px;
    color: black;
    border-radius: 50%;
    transition: all 0.5s ease;
} 

table thead tr .sociallinks a:hover {
    color: #24262b;
    background-color: #ffffff;
}

